.questions {
  display: block;
  width: 700px;
  height: 400px;
  margin: 0 auto;
}
.questions ul {
  display: table-caption;
}
ul button {
  width: 600px;
  height: 60px;
  border-radius: 20px;
  border-style: none;
  justify-content: center;
  cursor: pointer;
  margin-top: 5px;
  font-size: 16px;
  transition: all 0.1s ease-in-out;
  font-weight: bold;
}
ul button:hover {
  width: 650px;
  transition-duration: 0.1s;
  border: 1px solid black;
  font-size: 18px;
}
.buttons {
  width: 600px;
  margin-left: 30%;
  display: inline-flex;
}
.timer {
  width: 100px;
  height: 40px;
  font-size: 20px;
  border-radius: 20px;
  border-style: none;
  border: none;
}
.next {
  width: 100px;
  height: 40px;
  font-size: 20px;
  border-radius: 20px;
  border-style: none;
  margin-left: 70%;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}
.progress {
  display: block;
  width: 610px;
  margin: 0 auto;
}
.startBtn {
  width: 120px;
  height: 50px;
  border-style: none;
  border-radius: 20px;
  transition: all 0.1s ease-in-out;
  font-size: 15px;
}
.startBtn:hover {
  background-color: grey;
  color: white;
  margin-left: 10px;
  cursor: pointer;
  font-weight: bold;
}
.selected {
  width: 650px;
  border: 1px solid black;
  font-size: 18px;
}
.right{
  background-color: green;
  color: black;
}
.wrong{
  background-color: red;
  color:black;
}
.restQuestions{
  background-color: yellow;
  color: black;
}
.disable{
  opacity: 0.5;
  pointer-events: none;
}

